# Ignore virtual environments
venv/
.venv/

# Ignore compiled bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore logs
*.log

# Ignore large data files
*.csv
*.db
*.dll
*.exe
*.chm

# Ignore other large files
python 32/
python-3.9.7.exe
