# Ignore virtual environments
venv/
.venv/

# Ignore compiled bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore logs
*.log

# Ignore large data files
*.csv
*.db
*.zip
*.exe
*.dll
*.so
*.7z
*.rar
*.tar.gz
*.chm
*.mp4
*.avi
*.mov
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.iso
*.bin
*.dat
*.jar
